h1 {
  margin-bottom: 0px;
}
.main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.budget-section {
  flex: 1;
  padding: 10px;
}

.transactions-section {
  flex: 2;
  padding: 10px;
}

.transactions-container {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 240px); /* Adjusts for potential margins, headers, etc. */
    box-sizing: border-box; /* Ensures padding/borders don't push beyond the max-height */
}

thead {
    position: sticky;
    top: 0;
    background-color: #f5f5f5;
}

.budget-item {
  flex: 1 1 auto;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

tr:nth-child(odd) {
  background-color: #ffffff; /* White */
}

tr:nth-child(even) {
  background-color: #e9ecef; /* Very Light Gray */
}

.positive-transaction {
    background-color: #b7e1cd !important;
    font-weight: 600 !important;
}

.parent-transaction {
    font-weight: 600 !important;
}

.child-transaction {
    font-style: italic;
    color: #666;
}

.bank-transfer-transaction {
    font-style: oblique;
    text-decoration: underline;
    font-weight: 500 !important;
}

h3 {
    margin-top: 0px;
}

table {
   background-color: #ffffff; /* White Background */
}

th, td {
  padding: 5px;
  text-align: left;
   font-size: .7em;
}

th {
  background-color: #f0f0f0; /* Light Gray Background */
  font-size: .9em;
}

td.negative {
  color: #ff0000; /* Red color for negative values */
}

.center-text {
    text-align: center;
    width: 15px;
}

.transaction-dropdown {
  width: 300px;
  margin-bottom: 25px;
  display:flex;
  justify-content: center;
}