.new-item {
    margin: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 50px;
    border-radius: 50%;
}

.modal-title {
    margin-top: 3px;
    margin-bottom: 3px;
    padding: 0px;
}

.new-transaction-modal {
  display: flex;
  flex-direction: column;
}

.new-transaction-modal-top-section {
  display: flex;
  flex-direction: row;
}

.add-item-form-section {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}

.add-item-form-and-button {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  border: 1px solid #6c757d; /* Gray Border */
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for depth */
}

.add-item-form {
  display: flex;
  flex-direction: row;
  gap: 35px;
  justify-content: space-between;
}

.add-item-form-input {
  display: flex;
  flex-direction: column;
}

.add-item-form:first-child {
  align-items: center; /* Vertically center content in the first form-group */
}

.form-group {
  display: flex;
  align-items: center;

  justify-content: space-between;
}

.add-item-button {
    width: 50%;
    align-items: center;
}

.transaction-summary {
  display: flex;
  flex-direction: column;
  border: 1px solid #6c757d; /* Gray Border */
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for depth */
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}

.add-item-list {
  border: 1px solid #6c757d; /* Gray Border */
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for depth */
}

.add-transaction-button{
    width: 50%;
}

table {
  width: 100%;
}

label {
  margin-right: 10px;
}

select {
    padding:5px;
}

.itemsList > td {
    font-weight: normal;
}

input{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #333;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
