body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   background-color: #f8f9fa;
}

code {
  font-family: 'Open Sans', sans-serif;
}

html {
  font-family: 'Open Sans', sans-serif;
}

